article.static
	padding-bottom: 64px
	a
		text-decoration: underline
		color: var(--color-link)
	p
		margin-bottom: 1.25em
		&:has(+ ul)
			margin-bottom: .5em
	h3
		margin-top: 1em
		margin-bottom: 0.25em
		font-weight: 500
		font-size: 20px
		strong
			font-weight: 600
	h2
		margin-bottom: 0.5em
		margin-top: 1em
		font-size: 24px
		strong
			font-weight: 600
	strong
		font-weight: 600
	ul
		list-style-type: disc
		padding: 0 24px
	ol
		list-style-type: decimal
	li
		padding-top: 6px
	ul, ol
		margin-bottom: 1em
	hr
		border-color: var(--color-outline)
		margin: 36px 0