.s-modal-overlay
	background: var(--color-backdrop)
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100vh
	z-index: 100
	pointer-events: none
	display: flex
	align-items: center
	justify-content: center
	opacity: 0
	transition: .2s var(--transition)
	.edraw
		display: none
	&.is-open
		opacity: 1
		pointer-events: auto
		.edraw
			display: block
		.s-modal
			transform: scale(1) translateY(0px)
	.s-modal
		// background: var(--color-background)
		max-width: 32rem
		width: 100%
		overflow: hidden
		border-radius: 16px
		border: 1px solid var(--color-outline)
		box-shadow: var(--shadow-default)
		display: flex
		flex-direction: column
		transition: .2s var(--transition)
		transform: scale(0.97) translateY(10px)
		&--heading
			// padding: 24px
			padding: 14px 24px
			// border-bottom: 1px solid var(--color-outline)
			display: grid
			grid-template-columns: 1fr 4fr 1fr
			align-items: center
			h3
				font-weight: 600
				font-size: 17px
		&-size
			&-medium
				max-width: 520px
		&--body
			// margin: 16px 24px 24px
			padding: 20px 24px 24px
			overflow: auto
			max-height: 70vh
			form
				display: flex
				align-items: flex-start
				flex-direction: column
				row-gap: 24px
				max-width: initial
				.actions
					button
						margin: 0 !important
		&--footer
			padding: 20px 24px
			padding-top: 0
		&--cta
			width: 100%
			padding: 20px 24px
			display: flex
			gap: 8px