:root
	font-family: "Google Sans Flex", ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Heebo', 'Cairo', "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !important
	--transition: cubic-bezier(0.4, 0.0, 0.2, 1)
	--choices-border-radius: 10px

html.dark
	--color-background: #181819
	--color-on-background: #FCFAF8
	--color-on-background--subtle: rgba(255,255,255,.6)
	--color-backdrop: rgba(1,1,1,.6)
	--color-outline: rgba(255,255,255,.1)
	--color-surface: rgba(255,255,255,.1)
	--choices-bg-color-dropdown: #333333
	--choices-bg-color: rgba(255,255,255,.1)
	--choices-highlighted-color: rgba(255,255,255,.1)
	--color-surface-opaque: #232323
	--color-primary: #fffcf8;

html.light
	--color-background: #FFFFFF
	--color-on-background: #181819
	--color-on-background--subtle: rgba(1,1,1,.6)
	--color-backdrop: rgba(1,1,1,.6)
	--color-outline: rgba(1,1,1,.1)
	--color-surface: rgba(1,1,1,.07)
	--choices-bg-color-dropdown: white
	--choices-bg-color: rgba(1,1,1,.1)
	--choices-highlighted-color: rgba(1,1,1,.1)
	--color-surface-opaque: #FAFAFA
	--color-primary: #232323;

body
	height: 100%
	position: relative
	background: var(--color-background)
	color: var(--color-on-background)
	overflow-x: hidden


.choices.is-flipped
	.choices__list.choices__list--dropdown
		margin-top: 0px
		margin-bottom: 8px

.choices__list.choices__list--dropdown
	margin-top: 8px
	border: 1px solid var(--color-outline) !important
	border-radius: 12px !important
	box-shadow: 0px 8px 16px rgba(1,1,1,.04)
	transform: scale(0.5)
	transition-delay: 1s
	
	&.is-active
		transition: .3s var(--transition)
		transform: scale(1)
	.choices__list
		padding: 8px
		.choices__item
			border-radius: 8px

.choices__inner
	border: none
	border-radius: 10px !important
	input
		font-size: 15px
		// padding: 0 8px
		padding-left: 8px
		margin: 0
		background: transparent
	.choices__item
		display: inline-flex

.choices__list--multiple 
	.choices__item
		background: var(--color-on-background)
		color: var(--color-background)
		font-size: 15px
		.choices__button
			width: 24px
			margin: 0
			border: none

.logo
	svg
		width: auto
		height: 100%
		path
			fill: var(--color-primary)

.svg-wrapper
	svg
		height: 100%
		width: auto

.color-facebook svg path
	fill: #2B61ED
.color-whatsapp svg path
	fill: #63C96E
.color-reddit svg path
	fill: #E55227
.color-x svg path
	fill: black

html.dark
	.color-x svg path
		fill: white
	
.logo-full
	svg path
		fill: var(--color-on-background)
		&:nth-child(6)
			fill: var(--color-primary)
		&:nth-child(7)
			fill: var(--color-primary)

.number-badge
	background: var(--color-surface)
	display: inline-flex
	padding: 2px 6px
	color: var(--color-on-background--subtle)
	border-radius: 4px
	
.mask div
	transform: rotate(0.1deg)

.overflow-x-auto, .overflow-y-auto
	scrollbar-color: rgba(1,1,1,.3) transparent
	scrollbar-width: thin
	
.varousel-container
	scrollbar-color: transparent transparent
	&:hover
		scrollbar-color: rgba(1,1,1,.3) transparent
	.overflow-x-auto
		scrollbar-color: inherit !important

[data-close-popup] *
	pointer-events: none

.is-skeleton
	pointer-events: none
	background: linear-gradient(90deg, #aaa2b11a 40%, #ffffff, #aaa2b11a 60%) right / 300% 100%
	position: relative
	animation: 1s skeleton infinite
	
@keyframes skeleton
	100%
		background-position: left
	
html.dark
	.overflow-x-auto, .overflow-y-auto
		scrollbar-color: rgba(255,255,255,.3) transparent
	.varousel-container
		scrollbar-color: transparent transparent
		&:hover
			scrollbar-color: rgba(255,255,255,.3) transparent
	.is-skeleton
		background: linear-gradient(90deg, #bebebe12 40%, #f7f7f722, #bebebe12 60%) right / 300% 100%